<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono|Roboto+Condensed|Work+Sans&display=swap"
			rel="stylesheet">
		{{!-- <script type="text/javascript" src="/public/js/"></script> --}}
		<link rel="stylesheet" type="text/css" href="stylesheets/style-dark.css">
		<link rel="icon" type="image/png" size="16x16" href="images/icon.png">
		<title>KEEP IT LOCAL®</title>
	</head>
	<body>

		{{{ body }}}

	</body>
</html>
