<div id="bubble">
    <a href="/events">
        <img src="/images/header2.gif" id="header-logo">
    </a>
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup>

</div>


<div id="dark-panel">
    
    <br><br><br><br><br>

    <div id="quote">
        <h1>create <br>  a new event.</h1>
    </div>

    <br><br><br>

    <div class="create">
        <form id="create-form">
            <label>name of event</label>
            <input type="text" id="eventName" name="eventName" placeholder="Event Name" required><br>

            <label>date of event</label>
            <input type="date" id="eventDate" name="eventDate" required><br>

            <label>category</label>
            <input type="text" id="category" name="category" placeholder="Comedy, Music, Party, etc." required><br>

            <label>location</label>
            <input type="text" id="location" name="location" placeholder="### adddress st, city, state" required><br>

            <label>description</label>
            <textarea id="details" placeholder="start time, dress code, byob, etc. " wrap="hard"></textarea>

            <button type="submit" id="create-btn">create event</button>
        </form>
    </div>
</div>



<div id="refer-box">
    <p id="refer-msg">here's your referral code</p>
    <span id="refer-code"></span>
</div>




<footer class="footer">
    <button id="refer-link">REFER A FRIEND</button>
    KEEP IT LOCAL®
    <span id="logout"><a href="/logout" id="logout-link">LOGOUT</a></span>
</footer>

<script type="text/javascript">

    $(document).ready(function () {
        $("#refer-box").hide()

        $("#refer-link").click(function () {
            $.ajax("/api/code", {
                method: "GET"
            }).then(function (res) {
                switch (res.status) {
                    case 0:
                        $("#refer-msg").text("New members must wait 3 days until they can refer a friend.");
                        $("#refer-box").fadeIn(1000);
                        break;
                    case 1:
                        $.ajax("/api/code", {
                            method: "POST"
                        }).then(function (resp) {
                            console.log(resp.code);
                            $("#refer-msg").text("You're not eligible code for a new code yet.");
                            $("#refer-code").text(resp.code)
                            $("#refer-box").fadeIn(1000)
                        })
                        break;
                    case 2:
                        $.ajax("/api/code", {
                            method: "POST"
                        }).then(function (resp) {
                            console.log(resp.code);
                            $("#refer-code").text(resp.code)
                            $("#refer-box").fadeIn(1000)
                        })
                        break;
                    default:
                        $("#refer-msg").text("Sorry, something went wrong...");
                        $("#refer-box").fadeIn(1000);
                        break;
                }
            })
        })

        $(document.body).on("dblclick", function (event) {
            $("#refer-box").fadeOut(500)
        })
        

        $("#create-form").on("submit", function(event){
            event.preventDefault();
           
            let new_event = {
                name:$("#create-form [name=eventName]").val().trim(),
                date:$("#create-form [name=eventDate]").val(),
                category:$("#create-form [name=category]").val().trim(),
                //address:$("#create-form [name=location]").val(),
                location:$("#create-form [name=location]").val(),
                description: $("#details").val()
            }
            console.log(new_event);

            $.ajax("api/event",{
                method: "POST",
                data: new_event
            }).then(function(result){
                window.location = "http://localhost:8080/events"
            }).fail(function(xhr, status, error){
                switch(xhr.status){
                    case(400):
                        if(error === 'Too far away'){
                            M.toast({
                                html: 'Make sure your location is within 30 miles',
                                classes: 'toast'
                            })
                        }
                        else if(error === 'Invalid Date'){
                            M.toast({
                                html: 'Make sure your event is in the future!',
                                classes: 'toast'
                            })
                        }
                }
                
            })

        })


// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    $(document).ready(function () {
        $(".event-link").click(function () {
            let event_id = $(this).attr("data-id").val()
            $.ajax(`/${event_id}`, {
                method: "GET",
                data: {
                    id: event_id
                }
            }).then(function (result) {
                window.location.replace(result)
                // window.location = `/event/${id}`
            })
            function expandTextarea(id) {
                document.getElementById(id).addEventListener('keyup', function () {
                    this.style.overflow = 'hidden';
                    this.style.height = 0;
                    this.style.height = this.scrollHeight + 'px';
                }, false);
            }
            expandTextarea('txtarea');
        });

        //list used to populate state selector
        //let stateAbrev = ["AK", "AL", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"];
        //let trigger = $("<select>").attr("id", "stateVal").append($('<option value="" disabled selected>State</option>'));
        //for (var i = 0; i < stateAbrev.length; i++) {
        //    var item = $("<option>").attr("value", i).text(stateAbrev[i]);
        //    trigger.append(item);
        //}
        //$("#location-form").append(trigger);
        //initializes state selector trigger
        //$('select').formSelect();
        //$(document).on("click", ".dropdown-trigger", function () {
        //    let stateIndex = $("#stateVal").val();
        //    let stateName = stateAbrev[stateIndex];
        //    console.log(stateName);
        //});
    });

    
</script>