<div id="bubble">
    <a href="/">
        <img src="/images/header2.gif" id="header-logo">
    </a>
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup>

</div>


<div id="dark-panel">
    <br><br><br><br><br><br><br>
    <div id="quote">
        <h1>find out about<br> events near you.</h1>
    </div>
    <br><br><br><br><br>
    
    <div class="login">
        <form id="login-form">
            <label>welcome back,</label><br>
            <input type="text" name="username" placeholder=" username">
            <input type="password" name="password" placeholder=" password">
            <button type="submit" id="login-btn">login</button>
            
        <span class="switch-link">not a member? <a href="/signup">sign up</a></span>
        </form>
    </div>

</div>




<footer class="footer">
    KEEP IT LOCAL®
</footer>


<script type="text/javascript">
    $(document).ready(function () {
        let usernameInput = $("#login-form [name=username]");
        let passwordInput = $("#login-form [name=password]");
        
        $("#login-form").on("submit", function (event) {
            event.preventDefault();
            navigator.geolocation.getCurrentPosition(success, error);
        });

        function success(position) {
                let newUser = {
                        username: $("#login-form [name=username]").val().trim(),
                        password: $("#login-form [name=password]").val().trim(),
                        location: position.coords.latitude.toString() + ", " + position.coords.longitude.toString()
                    }
                console.log(newUser);
                $.ajax("/api/login", {
                    method: "PUT",
                    data: newUser
                }).then(function(result){
                    console.log("new user added");
                    window.location.href = "/events";
                }).fail(function(xhr, status, error){
                    switch(xhr.status){
                        case(401):
                            M.toast({
                                html: 'Bad username or password, try again',
                                classes: 'toast'
                            })
                            break;
                        default:
                            M.toast({
                                html: 'Bad request. Verify your information and try again.',
                                classes: 'toast'
                            })
                            break;
                    }
                })
        }

        function error() {
            console.log("failed");
            usernameInput.val("");
            passwordInput.val("");
            M.toast({
                html: 'Location failed! Try turning on location services, we need your location to validate your local status!',
                classes: 'toast'
            })
        }   
    });

</script>