<div id="bubble">
    <a href="/">
        <img src="/images/header2.gif" id="header-logo">
    </a>
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup>

</div>


<div id="dark-panel">
    <br><br><br><br><br><br><br><br>
    <div id="quote">
        <h1>find out about<br> events near you.</h1>
    </div>
    <br><br><br><br><br><br>
    
    <div class="login">
        <form id="login-form">
            <label>welcome back,</label><br>
            <input type="text" name="username" placeholder=" username">
            <input type="password" name="password" placeholder=" password">
            <button type="submit" id="login-btn">login</button>
            
        <span class="switch-link">not a member? <a href="/signup">sign up</a></span>
        </form>
    </div>

</div>




<footer class="footer">
    KEEP IT LOCAL®
</footer>


<script type="text/javascript">
    $(document).ready(function () {
        let usernameInput = $("#login-form [name=username]");
        let passwordInput = $("#login-form [name=password]");
        console.log(usernameInput.val());
        $("#login-form").on("submit", function (event) {
            event.preventDefault();
            let userData = {
                username: usernameInput.val().trim(),
                password: passwordInput.val().trim()
            }
            console.log(usernameInput.name);

            loginUser(userData.username, userData.password);

            usernameInput.val("");
            passwordInput.val("");

            });

            // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
            function loginUser(username, password) {
                $.post("/api/login", {
                    username: username,
                    password: password
                }).then(function (data) {
                    //window.location.replace(data);
                    // If there's an error, log the error
                    window.location = "http://localhost:8080/events";
                }).catch(function (err) {
                    console.log(err);
                });
            }
    });

</script>