<h1>Create a new event!</h1>

<div id="location-form" class="input-field col s12">
    
</div>

<script>
$(document).ready(function(){
    
    //list used to populate state selector
    let stateAbrev = ["AK", "AL", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"];
    let trigger = $("<select>").attr("id", "stateVal").append($('<option value="" disabled selected>State</option>'));
    for (var i = 0; i < stateAbrev.length; i++) {
        var item = $("<option>").attr("value", i).text(stateAbrev[i]);
        trigger.append(item);
    }
    $("#location-form").append(trigger);
    //initializes state selector trigger
    $('select').formSelect();
    $(document).on("click", ".dropdown-trigger", function () {
        let stateIndex = $("#stateVal").val();
        let stateName = stateAbrev[stateIndex];
        console.log(stateName);
    });
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> b6d9cf8ef7e5a8eea14b4f6b1490b6a7e2de07c4

    $(document.body).on("click", ".listing-item-name", function (event) {
        event.preventDefault();
        let eventName = $(this).text();
        console.log(eventName);
        let messagesList = $("#messages-list");
        messagesList.empty();

        $.ajax("/api/event/" + eventName, {
            method: "GET"
        }).then(function (result) {
            // Input: 
            // {eventDetails: {name: ,
            //                 category: ,                              
            //                 location: ,
            //                 upVotes: ,
            //                 creatorID: }
            //  ownedByUser: true/false}                                                                 
            if (result.ownedByUser) {
                console.log("user owns event");
            }
            else {
                console.log("user does not own event");
            }
        }).then(function () {
            $.ajax("/api/message/" + eventName, {
                method: "GET"
            }).then(function (result) {
                console.log('messages on this message board: ');
                console.log(result);
                for (let i = 0; i < result.length; i++) {
                    let item = result[i];
                    let message = $("<li>").text(`${item.id} ${item.content} ${item.creatorID} ${item.upVotes} ${item.createdAt}`);
                    messagesList.append(message);
                }
            });
        });

    });
<<<<<<< HEAD
=======
>>>>>>> c4aa5e72254900da86f3039031d4bf7ba8a5c4a0
>>>>>>> b6d9cf8ef7e5a8eea14b4f6b1490b6a7e2de07c4
=======
>>>>>>> 182dd51275331e2d299a6d50a453957bdd540331
});
</script>