<div id="bubble">
    <a href="/">
        <img src="/images/header2.gif" id="header-logo">
    </a>
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup>

</div>


<div id="dark-panel">
    <br><br><br><br><br><br><br><br>
    <div id="quote">
        <h1>find out about<br> events near you.</h1>
    </div>
    <br><br><br><br><br><br>
    
     <div class="signup">
        <form id="signup-form">
            <label>join the network...</label><br>
            <input type="text" name="username" placeholder=" username">
            <input type="password" name="password" placeholder=" password">
            <input type="referral" name="referral" placeholder="referral">
            <button type="submit" id="signup-btn">sign up</button>
            
        <span class="switch-link">already a member? <a href="/login">login</a></span>
        </form>
    </div>
</div>




<footer class="footer">
    KEEP IT LOCAL®
</footer>


<script type="text/javascript">

    $(document).ready(function () {
        $("#signup-form").on("submit", function (event) {
            event.preventDefault();
            console.log('submitted');
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(success, error, {timeout: 10000});
            }
            else{
                console.log('not supported');
            }
        });

        $("#login-btn").on("click", function(event){
            event.preventDefault();
            window.location = "http://localhost:8080/login";
        });

        function success(position) {
            let loc = position.coords.toString();
            let newUser = {
                    username: $("#signup-form [name=username]").val().trim(),
                    password: $("#signup-form [name=password]").val().trim(),
                    location: position.coords.latitude.toString() + ", " + position.coords.longitude.toString(),
                    referral: $("#signup-form [name=referral]").val().trim()
                }
             $.ajax("/api/checkcode", {
                method: "POST",
                data: newUser
                }).then(function(res){
                    $.ajax("/api/signup", {
                        method: "POST",
                        data: newUser
                    }).then(function(result){
                        console.log("new user added");
                        window.location = "http://localhost:8080/events"
                    });
            }).fail(function(xhr, status, error){
                switch(xhr.status){
                    case(400):
                        M.toast({
                            html: 'Please use a valid referral code',
                            classes: 'toast'
                        })
                }
            });
        }

        function error() {
            console.log("failed");
            M.toast({
                html: 'Location failed! Try turning on location services, we need your location to validate your local status!',
                classes: 'toast'
            })
        }

    });

</script>