body {
  background-color: rgb(105, 151, 128);
  font-family: Helvetica, sans-serif;
  color:white;
}

#bubble {
  float: left;
}

.speech-bubble {
  position: relative;
  background: #bdbdbd;
  border-radius: .4em;
  margin-top: 45%;
  margin-left: 250px;
  width: 200px;
  color:black;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #bdbdbd;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

#dark-panel {
  float: right;
  margin: 20px 40px 30px;
  height: 94vh;
  width: 45%;
  background-color: rgba(96, 96, 96, 0.705);
  border-radius: 25px;
  padding: 40px;
  position: relative;
  
}

#Username {
  float: left;
  padding-top: 20px;
  /* padding-left: 80px; */
  margin-left: 150px;
  border-radius: 25px;


}

#password {
  float: right;
  padding-top: 20px;
  /* padding-right: 100px; */
  margin-right: 150px;
  border-radius: 25px;
}

#btn-login {
  margin-top: 10px;
  width: 200px;
}

#btn-signup {
  margin-top: 10px;
  width: 200px;
}

#quote {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height:1vw;
  background-color: rgba(202, 204, 206, 0.767);
  color: black;
  text-align: center;
}

li {
  list-style: none;
  color: white;
}

#listings-table {
  margin:10px;
}



.listing-header {
  float: left;
  margin-bottom: 20px;
  color:rgb(105, 151, 128);
}

.listing-item-name {
  margin-right:50px;
}
.listing-item-local {
  margin-right:70px;
}
.listing-item-cat {
  margin-right:70px;
}
.listing-item-votes {
  margin-right:70px;
}
.listing-item-id {
  margin-right:10px;
}


#listing-row{
  margin-bottom: 50px;
}

.list-group {
  margin-bottom: 30px;
}

form {
  position: relative;
}

input {
  border: none;
  background: rgb(2,2,2,0.4);
  border-bottom: lightgray 1px solid;
  border-radius:5px;
  color: white;
  margin: 5px;
  font-size:20px;
  width: 80%;
}

input:focus {
  outline:none;
}

#login-btn,
#signup-btn {
  font-size:20px;
  border:none;
  background: none;
  color: rgba(79, 188, 255, 0.692);
  position: absolute;
  right: 155px;
  bottom: -28px;
}

#login-btn:hover,
#signup-btn:hover {
  color: rgb(151, 215, 255);

}

h4{
  margin-left:5px;
}

.switch-link {
  position: absolute;
  bottom:-25px;
  left:5px;
  font-size:20px;
  color:rgba(198, 198, 198, 0.829);
}

a {
  text-decoration: none;
  color: rgba(233, 130, 254, 0.692);
}

a:hover {
  text-decoration: none;
  color: rgb(244, 190, 255);
}

label {
  margin:0px 0px 0px 5px;
  font-style: italic;
  color:rgba(233, 233, 233, 0.897)
}